<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="background-color:lavender;">
      <br>
      <button class="btn btn-primary" (click)="getData()">Display Details</button>
      <br>
      <p>{{ string }}</p>
      <li *ngFor="let count of valArray">
        <!-- <span *ngIf="count < 5">{{count}}</span> -->
        <!-- <span *ngIf="count >= 5" style="color : white; background: blue">{{count}}</span> -->
        <span *ngIf="count < 5; else elseBlock"> {{ count }}</span>
        <ng-template #elseBlock>
          <span style="color : white; background: blue">{{ count }}</span>
        </ng-template>
      </li>
      <br>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>